import { h, FunctionComponent } from 'preact';

import style from './style.css';

type Props = {
{{#if className}}
  className: string;
{{/if}}
};

export const {{name}}: FunctionComponent<Props> = ({children{{#if className}}, className{{/if~}} }) => (
  <div class={
    {{#if className}}
       `${style.{{name~}} } ${className}`
    {{else}}
       style.{{name}}
    {{/if}}
  }>
    {children}
  </div>
);
